@font-face {
   font-family: 'Days One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/repositories/phobos/fonts/Days One/regular.ttf') format('truetype');
}
